.ui {
    position: relative;
}

.ui-input {
   /* margin: 0;
    max-width: 100%;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .67857143em 1em;
      padding-right: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;*/
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 0.8em;
}

.ui-result {
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: center top;
    white-space: normal;
    text-align: left;
    text-transform: none;
    background: #fff;
    margin-top: .5em;
    width: 10em;
    border-radius: .28571429rem;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
    border: 1px solid #d4d4d5;
    z-index: 10;
    max-height: 150px;
    overflow: auto;
    scrollbar-color: black white;
    scrollbar-width: thin;
}

.ui-result-item {
    cursor: pointer;
    display: block;
    overflow: hidden;
    font-size: 1em;
    padding: .85714286em 1.14285714em;
    color: rgba(0,0,0,.87);
    line-height: 1.33;
    border-bottom: 1px solid rgba(34,36,38,.1);
    z-index: 999;
    font-size: 0.7em;
}

.ui-result-item:hover {
    background-color: #6200ee;
    color: #fff;
}