.vlan-menu {
  display: flex;
  flex-direction: row;
  overflow-x: scroll; 
  height: 75px;
  cursor: move;
}

.vlan-menu-item {
  height: 100%;

}

.vlan-menu-btn {
  height: 100%;
  width: 125px;
  background-color: blue;
  color: white;
  border: black 2px solid;
}