
.content {
    position: relative;
}

.title {
    text-align: center;
    font-size: 1.8em;
}

.title-input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 0.8em;
}

.hmenu-container {
    width: 500px;
    margin: auto;
}

.hmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.twrapper {
    position: relative;
}

.twrapper table thead th .hthcs {
    position:absolute;   
    top:-25px;
    transform: translateX(-25px);
    z-index:2;
    height:20px;
  }

.hthc {
    min-width: 25px;
}

.twrapper .ht {
    width:100%;
}
.twrapper .ht * {
    color:black;
}

.tscroll {
    height: 500px;
    overflow: auto;
    scrollbar-color: black white;
    scrollbar-width: thin;
    overflow-x: hidden;
    margin-top:25px;
}

.ht {
    border-spacing : 0;
    border-collapse : collapse;
    font-size: 0.8em;
    overflow-x: auto;
}

th {
    min-width: auto;
}


.hthl, .htbl {
    text-align: center;
}

td .state {
    content: '';
    width: 12px;
    height: 12px;
    margin: auto;
    border-radius: 50%;
}

.htbl[state="saved"] td .state {
    background: green;
}

.htbl[state="reserved"] td .state {
    background: gray;
}

.htbl[state="unsaved"] td .state {
    background: orange;
}



.host-table-input, .host-table-select {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 0.8em;
}

.htbl td {
    border-right: 1px solid black ;
}

.area {
    scrollbar-color: black white;
    scrollbar-width: thin;
}

